



header{
    border:none;
    background-color:#DCDCDC;
    
    height: 10px;
	padding:10px
   }
  
   *{
	margin: 0;
	padding: 0;
	}

	p{font-family:Arial; }
h1{
	color:#0000;
	text-shadow:1px 1px 1px #111111;
	font-family:Calibri (Corpo);
	
	margin:0 0 10px 50px;}
h2{color:#0000;
	text-shadow:1px 1px 1px #111111;
	font-family:Calibri (Corpo);
	text-align: left;
	margin:0 0px 0px 0px;}

h3{color:#0000;
	text-shadow:1px 1px 1px #111111;
	font-family:Calibri (Corpo);
	font-size:103
	text-align: left;
margin:0 0px 0px 50px;
}


h4{color:#0000;
	text-shadow:1px 1px 1px #111111;
	font-family:Calibri (Corpo);
	text-align: left;
	margin:0 620px 20px 50px;}

	
h5{;
	;
	font-family:Calibri (Corpo);
	text-align: left;
	margin:20px 20px 40px 50px;}

	
	
footer{clear: both;
	background-color:#e9e9e9;
	height: 100px;
	padding: 50px 100px 0px 10px;
	font-size:12px;}
}



#logo{
	padding:20px 0 0 0;
	
	}
#telefone1{

	float:right;
	padding:20px 0px 0 30px

}
#telefone{

	float:right;
	padding:0 50px 0px 300px}



#casa{
 	float:left;
 	filter: invert(75%)

	}


#principal{
	background-image: url('Retângulo 1.png');
	clear:both;
	background-size:100% auto;
	min-height: 400px;
	padding:80px 0 0 0;

	}
	#secundaria{
	
	clear:both;
	background-size:20%;
	min-height: 50px;
	padding:200px 0 0 0px;
}
#Encontre{
	
	float:right;}

#Encontre1{ 
	float:left;
 	filter: invert(75%)}



     

.container{
	width: 1000px ;
	margin: 0 auto;

}


#carro1{
	float: left;
	padding: 0px 10px 0px 40px;}

	}
#carro{
	padding: 0px 100px 40px 40px;}

#carro3{float:left;
	height: 100px}

#mudar{
 	-moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
    filter: url("data:image/svg+xml;utf8,<svg xmlns="\'http://www.w3.org/2000/svg\'"><filter id="\'grayscale\'"><feColorMatrix type="\'matrix\'" values="\'0.3333" 0.3333="" 0="" 1="" 0\'=""></feColorMatrix></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
    padding: 20px 0px 40px 40px; 

}

#espaco{
	background-color:#ffff;
	padding:20px 20px 20px 20px;
	
	}

#final{
	clear: both;
	background-color:#e9e9e9;
	height: 100px;
	text-align: center;
	padding: 50px 100px 10px 10px ;
	font-size:12px;


;
}
